{%- assign loader-fade = 0.2 -%}

<style>
  #loader {
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
    color: #e23661;
    transition: opacity {{ loader-fade }}s linear;
  }

  #loader>img {
    width: 15%;
    height: 15%;
    max-width: 15%;
    max-height: 15%;
  }
</style>
<noscript>
  <style>
    #loader {
      display: none;
    }
  </style>
</noscript>
<script>
  "use strict";
  window.addEventListener("load", () => {
    let ldr = document.getElementById("loader").style
    ldr.opacity = 0
    setTimeout(() => {
      ldr.display = "none"
    }, {{ loader-fade | times: 1000 }})
  });
</script>
