<header id="main-nav-header">
  <nav>
    <a href="{{ '/' | relative_url }}" class="logo-link">
      {%- comment -%} Note: this width will be overwritten by CSS, it's just there so that the logo
      doesn't resize to the screen width if it renders before the CSS loads. {%- endcomment -%}
      {% svg favicon.svg class="logo" width="100" fill="currentColor" %}
    </a>
    <ul>
      {%- comment -%} Note: omitting the closing li on purpose. HTML5 auto-closes them and leaves no
        whitespace in between. {%- endcomment -%}
      <li><a href="https://github.com/staticintlucas">Github</a>
      <li><a href="https://www.linkedin.com/in/ljansen0/">LinkedIn</a>
    </ul>
  </nav>
</header>
