@use "sass:color";

$accent: #bf4040;
$foreground: #c9c8c7;
$background: #1e1e1e;
$greyed: #818080;

@function light($color) {
  @return lighten($color, 4%);
}

@function dark($color) {
  @return darken($color, 4%);
}
