:root {
  font-size: $root-font-size;
}

body {
  background-color: $background;
  color: $foreground;
  font-family: $body-font-family;
}

main {
  margin: auto;
  max-width: $main-width;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: bold;
}

a {
  color: $accent;
  transition: color $a-transition-duration linear;

  &:visited {
    color: $accent;
  }

  &:hover, &:active {
    color: light($accent);
  }
}

code {
  font-family: $mono-font-family;
  font-size: $mono-font-size;
}
