:root {
  font-size: $root-font-size;
}

body {
  background-color: $background;
  color: $foreground;
  font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6, p {
  max-width: $main-width;
}

a {
  color: $accent;
  transition: color $a-transition-duration linear;

  &:visited {
    color: $accent;
  }

  &:hover, &:active {
    color: light($accent);
  }
}
