:root {
  font-size: $root-font-size;
}

body {
  background-color: $background;
  color: $foreground;
  font-family: $body-font-family;
}

main {
  margin: auto;
  max-width: $main-width;
}

p, form, h1, h2, h3, h4, h5, h6, hgroup, ul, ol, table, blockquote, hr, span, footer {
  margin: $p-margin 0;

  &:first-child {
    margin-top: 0;
  }

  .tight & {
    margin: $tight-margin 0;
  }
}

div.columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: $column-gap;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: normal;
  line-height: 1;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

a {
  color: $accent;
  transition: color $a-transition-duration linear;
  text-decoration: solid underline $accent-underline;
  -webkit-text-decoration: solid underline $accent-underline;
  text-decoration-thickness: $a-underline-thickness;

  &:visited {
    color: $accent;
  }

  &:hover, &:active {
    color: light($accent);
    text-decoration-color: light($accent-underline);
  }
}

code {
  font-family: $mono-font-family;
  font-size: $mono-font-size;
}

footer {
  font-size: $footer-font-size;
  color: $greyed;
  text-align: center;
}

meter {
  width: 100%;
  height: $meter-thickness;
  background: light(light($background));
  display: block;
  margin: $progress-gap 0;

  &::-webkit-meter-inner-element {
    display: block;
  }

  &::-webkit-meter-bar {
    background: light(light($background));
    border: none;
    border-radius: 0;
  }

  &::-webkit-meter-optimum-value, &::-webkit-meter-suboptimum-value, &::-webkit-meter-even-less-good-value {
    background: $accent;
  }

  &::-moz-meter-bar {
    background: $accent;
  }
}

hr {
  margin: $hr-margin 25%;
  border: none;

  &:not(.space) {
    border-bottom: solid $hr-thickness $greyed;
  }
}
