@font-face {
  font-family: "Crimson Pro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url($font-dir + "crimson-pro/crimson-pro-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Crimson Pro";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url($font-dir + "crimson-pro/crimson-pro-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Crimson Pro";
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url($font-dir + "crimson-pro/crimson-pro-bold.woff2") format("woff2");
}
@font-face {
  font-family: "Crimson Pro";
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  src: url($font-dir + "crimson-pro/crimson-pro-bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url($font-dir + "inter-display/inter-display-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Display";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url($font-dir + "inter-display/inter-display-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Display";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url($font-dir + "inter-display/inter-display-bold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Display";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url($font-dir + "inter-display/inter-display-bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Extended";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url($font-dir + "iosevka-extended/iosevka-extended-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Iosevka Extended";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url($font-dir + "iosevka-extended/iosevka-extended-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Iosevka Extended";
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url($font-dir + "iosevka-extended/iosevka-extended-bold.woff2") format("woff2");
}
@font-face {
  font-family: "Iosevka Extended";
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  src: url($font-dir + "iosevka-extended/iosevka-extended-bolditalic.woff2") format("woff2");
}

$body-font-family: "Crimson Pro", Georgia, Cambria, "Times New Roman", serif;
$header-font-family: "Inter Display", Helvetica, Arial, sans;
$mono-font-family: "Iosevka Extended", "Cascadia Mono", Menlo, Monaco, Consolas, monospace;
