@font-face {
  font-family: "Inter";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  size-adjust: 91.59213%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "inter/inter-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  size-adjust: 91.59213%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "inter/inter-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  size-adjust: 91.59213%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "inter/inter-bold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  size-adjust: 91.59213%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "inter/inter-bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  size-adjust: 96.96970%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "inter/inter-display-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Display";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  size-adjust: 96.96970%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "inter/inter-display-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Display";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  size-adjust: 96.96970%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "inter/inter-display-bold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter Display";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  size-adjust: 96.96970%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "inter/inter-display-bolditalic.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  size-adjust: 90.90909%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "jetbrains-mono/jetbrains-mono-regular.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  size-adjust: 90.90909%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "jetbrains-mono/jetbrains-mono-italic.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  size-adjust: 90.90909%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "jetbrains-mono/jetbrains-mono-bold.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  size-adjust: 90.90909%; // = 0.5 / (x-height / em-size) * 100%
  src: url($font-dir + "jetbrains-mono/jetbrains-mono-bolditalic.woff2") format("woff2");
}

$body-font-family: Inter, Helvetica, Arial, sans;
$header-font-family: "Inter Display", Helvetica, Arial, sans;
$mono-font-family: "JetBrains Mono", "Cascadia Mono", Menlo, Monaco, Consolas, monospace;
