@import "_colors";
@import "_fonts";
@import "_sizes";

main.home {
  max-width: $wide-width;

  >div.columns {
    &:first-child {
      min-height: 75vh;
      align-items: center;
    }

    >* {
      flex-shrink: 0;
      width: $main-width;
    }

    >.narrow {
      width: $narrow-width;
    }
  }
}
