@import "_colors";
@import "_fonts";
@import "_sizes";

main.home {
  width: 100%;

  >div.vcenter {
    width: 100%;
    height: calc(100vh - $nav-height);
    flex-direction: row;
    gap: $gap;

    >div {
      flex-shrink: 0;
      width: $narrow-width;
    }
  }
}
