body {
  margin-top: $nav-height;
}

header#main-nav-header {
  position: fixed;
  inset: 0;
  height: $nav-height;

  box-shadow: 0 0px 1pt black;

  font-family: $mono-font-family;
  font-size: $mono-font-size;

  >nav {
    height: 100%;
    width: $nav-width;
    max-width: 100%;
    margin: auto;
    padding: 0 $nav-margin;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg.logo {
      display: block;
      width: $nav-logo-size;
      height: $nav-logo-size;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      margin: 0;
    }

    a {
      margin: $nav-link-margin;
      padding: $nav-link-padding;
      text-decoration: solid underline transparent;
      // This gets unset when not set in the text-decoration shorthand, but not
      // all browsers support setting it as part of text-decoration either
      text-decoration-thickness: $a-underline-thickness;

      &:not(.logo-link) {
        color: $foreground;
      }

      &:hover, &:active {
        color: light($accent);
        text-decoration-color: light($accent-underline);
      }
    }
  }
}
