$root-font-size: 18pt;

$a-uline-offset: 0.075em;
$a-uline-thickness: 0.075em;
$a-transition-duration: 0.15s;

$main-width: 35rem;

$nav-height: 5rem;
$nav-width: 60rem;
$nav-margin: 2rem;
$nav-logo-size: 2rem;
$nav-link-padding: 0.25rem 0.5rem;
$nav-link-margin: 0.25rem 1rem;
