$root-font-size: 18pt;

$h1-font-size: 3rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.17rem;
$h4-font-size: 1rem;
$h5-font-size: 0.83rem;
$h6-font-size: 0.67rem;

$mono-font-size: 0.8333333rem;
$footer-font-size: 0.8333333rem;

$a-underline-thickness: 0.075em;
$a-transition-duration: 0.125s;

$main-width: 35rem;

$p-margin: 1.5rem;
$gap: 0.4rem;

$nav-height: 6em;
$nav-width: 72em;
$nav-margin: 2.4em;
$nav-logo-size: 2.4em;
$nav-link-margin-v: 0.3em;
$nav-link-margin-h: 1.2em;
$nav-link-margin: $nav-link-margin-v $nav-link-margin-h;
$nav-link-padding-v: 0.3em;
$nav-link-padding-h: 0.6em;
$nav-link-padding: $nav-link-padding-v $nav-link-padding-h;

$wide-width: 45rem;
$narrow-width: 25rem;
