@use "sass:math";

$root-font-size: 18pt;

@function cbrt($num) { @return math.pow($num, math.div(1, 3)) }
$h1-font-size: 3rem;
$h2-font-size: $h1-font-size * cbrt(0.5);
$h3-font-size: $h2-font-size * cbrt(0.5);
$h4-font-size: $h3-font-size * cbrt(0.5);
$h5-font-size: $h4-font-size * cbrt(0.5);
$h6-font-size: $h5-font-size * cbrt(0.5);

$mono-font-size: math.div(5rem, 6);
$nav-font-size: math.div(4rem, 5);
$footer-font-size: math.div(5rem, 6);

$a-underline-thickness: 0.08em;
$a-transition-duration: 0.125s;

$main-width: 25rem;

$p-margin: 1.5rem;
$tight-margin: 0.75rem;
$vertical-space: 4rem;
$column-gap: 2.2rem;
$progress-gap: 0.4rem;

$nav-height: 5rem;
$nav-width: 60rem;
$nav-margin: 2rem;
$nav-logo-size: 2rem;
$nav-link-margin-v: 0.25rem;
$nav-link-margin-h: 1rem;
$nav-link-margin: $nav-link-margin-v $nav-link-margin-h;
$nav-link-padding-v: 0.25rem;
$nav-link-padding-h: 0.5rem;
$nav-link-padding: $nav-link-padding-v $nav-link-padding-h;

$narrow-width: 15rem;
$wide-width: $main-width + $narrow-width + $column-gap;

$meter-thickness: 0.5rem;
