---
stylesheets: ["main.css"]
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    {% favicons %}
    {%- assign stylesheets = page.stylesheets | default: layout.stylesheets -%}
    {%- for stylesheet in stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet | prepend: 'assets/css/' | relative_url }}">
    {%- endfor %}
    {% include loader_head.html %}
  </head>
  <body {% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
    {% include nav.html %}
    <main {% if page.main_class %} class="{{ page.main_class }}"{% endif %}>
      {{ content }}
      <footer>&copy; 2020&ndash;{{ site.time | date: "%Y" }} Lucas Jansen. All rights reserved.</footer>
    </main>
  </body>
</html>
